<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Improving Development Capabilities</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2021</h4>
                                    <h4 class="subheading">Interest in Development
                                    </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">웹 디자인 및 퍼블리싱 공부를 시작.<br>꾸준히 성장하고 새로운 것들을 만들어내는 데에 흥미가 있어 전공을 살리지 않았다.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2021. 10 ~ </h4>
                                    <h4 class="subheading">One's First Job</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">회사에 입사하여, 웹 관련 실무를 진행. <br> Github를 비롯하여 three.js, java 기초문법, MYSQL 등 개발에 관한 가장 기초적인 지식들을 공부.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2023. 04 ~</h4>
                                    <h4 class="subheading">Create a Github Blog</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Github 블로그 제작 시작.<br> 기초 개발 공부로는 실력향상을 기대해볼 수 없어 선배 개발자의 조언을 듣고 실무적용 가능한 블로그 제작.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of My
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>